# Add manually the 2 last lines to use C functions in R functions
# useDynLib(FlywayNet)
# import(Rcpp)

S3method(plot,migration)
export(estimate_migration_ABC)
export(estimate_migration_MCEM)
export(estimate_migration_MCEM_C)
export(estimate_migration_from_trajectories)
export(estimate_migration_from_trajectories_C)
export(generate_modified_migration)
export(generate_observedcounts)
export(generate_random_migration)
export(generate_toy_migration)
export(generate_trajectories)
export(generate_trajectories_C)
export(get_counts)
export(get_counts_C)
export(get_freeparametersvalue)
export(get_observation_probability)
export(get_observation_probability_C)
export(get_paramlikelihood)
export(new_migration)
export(plot_observedcounts)
export(plot_trajectories)
export(read_migration)
export(reestimate_migration_from_MCEMruns)
export(set_freeparametersvalue)
export(validate_migration)
export(write_migration)
useDynLib(FlywayNet)
import(Rcpp)
